name: Release
on:
  push:
    branches: [main, develop]
    paths: ['**/versions.json', '**/version.json']

jobs:
  release:
    permissions:
      contents: write
    uses: RokctAI/shared-workflows/.github/workflows/universal-release.yml@main
    secrets: inherit
