name: Stale
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    uses: RokctAI/shared-workflows/.github/workflows/universal-stale.yml@main
    permissions:
      issues: write
      pull-requests: write
    secrets: inherit
